{{define "base"}}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Battleship</title>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu|Tangerine&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <!--
        <link rel="stylesheet" type="text/css" href="/btlship/static/css/main.css">
        -->
        <!--
        <link rel="shortcut icon" href="/btlship/static/img/favicon.ico" type="image/x-icon">
        -->
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    </btlship/head>
    <body>
        <main>
            <header class="header">
                <!--
                <img alt="banner" id="banner" class="resizable" src="/btlship/static/img/banner.png" />
                -->
                <img alt="banner" id="banner" class="resizable" src="/static/img/banner.png" />
            </header>
            <article>
                {{template "flash" .}}
                {{template "content" .}}
            </article>
            {{template "footer" .}}
        </main>
    </body>
</html>
{{end}}
