{{define "grid"}}
   <table>
       {{ $row_0 := index . 0 }}
       <tr>
         <td> </td>
       {{ range $col_index, $col := $row_0 }}
         <td>{{ $col_index }}</td>
       {{end}}

       {{ range $row_index, $row := . }}
       <tr>
          <td>{{ $row_index }}</td>
          {{ range $row }}
          <!--
            <td>{{ if . }} <img src="{{ printf "/btlship/static/img/%s.png" . }}" width="32" height="32"> {{else}} {{end}}</td>
          -->
            <td>{{ if . }} <img src="{{ printf "/static/img/%s.png" . }}" width="32" height="32"> {{else}} {{end}}</td>
          {{ end }}
       </tr>
       {{ end }}
   </table>
{{end}}
